*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.button{
    border: 1px solid transparent;
    padding: 9px 0px 9px 19px;
    font-size: 12px;
    background-color: rgb(189, 57, 57);
    color: white;
    width: 160px;
}

.button:hover{
    background-color: rgb(146, 37, 37);
    cursor: pointer;
}



@media (max-width: 600px){
    .button{
        margin: 10px auto;
        padding: 9px 0 0 0;
    }


}













